{% extends 'base.html' %}

{% block title %}
{{ config.title }} | 404
{% endblock title %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="has-text-centered" style="text-align: center">
      <h1 class="title is-2">404</h1>
      <p class="subtitle is-4">
        The requested page was not found.
      </p>
      {{ macros:: social_links( social_config=config.extra.social) }}
      <p class="my-6">
        <a href='{{ config.base_url }}'>
          <span class="icon">
            <i class="fas fa-home"></i>
          </span>
          <span>Home</span>
        </a>
      </p>
    </div>
  </div>
</section>
{% endblock %}
