
{% extends "base.html" %}
<section class="web__body">
  <div style="margin-top: 40px; font-size: 40px; text-align: center;">

      <br>
    
      <div style="font-weight: bold;">
        <p class="title"> 404 </p>
      </div>
      <p class="subtitle">The requested page was not found</p>
    
      <br>
      <br>
    
      <div class="subtitle" style="margin-bottom: 300px; font-size: 24px">
        <a class="normal__link" href="/">Click here</a> to go back to the homepage.
      </div>
    
    </div>
  </section> 
{% block content %}
{% endblock content %}