<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %} Ken Li {% endblock title %}</title>
  <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
  <link rel="stylesheet" href={% block csssetup%} "{{ config.base_url ~ "/base.css" }}" {% endblock csssetup%}>
  <!-- <link rel="icon" href="../static/favicon.png" type="image/x-icon"/> -->
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>

<headerbar></headerbar>


<header class="column post">
  <nav class="container">
    <ul class="nav__links">
      <li>
        <a class="mainA" href="/">
          Home
        </a>
      </li>
      <li>
        <a class="subA" href="/blog">
          Blog Posts
        </a>
      </li>
    </ul>
  </nav>
</header>

{% block content %} {% endblock %}

</html>