{% extends "base.html" %}

{% block content %}
<section class="hero is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="intro-text">
        <h1 class="title"><span class="title auto-typed"></span></h1>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
      <script>
        var typed = new Typed(".auto-typed", {
          strings: ["Rust", "ML", "Ken Li"],
          typeSpeed: 200,
          backSpeed: 200,
          backDelay: 735,
          loop: false,
          onComplete: function(self) { self.cursor.remove() }
        })
      </script>
      <h2 class="subtitle">
        With curiosity, perserverence, and ambition, we will go from zero to infinity.
      </h2>
    </div>
  </div>
</section>

<section class = "web__body">

  <div class="column post">
    This website is built with <a class="normal__link" href="https://github.com/getzola/zola" target="_blank">Zola</a>, a static site generator written in the <a class="normal__link" href="https://github.com/rust-lang/rust" target="_blank">Rust programming language</a>.
  </div>
</section>
{% endblock content %}