{% extends "base.html" %}

{% block content %}
<section class="hero is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="intro-text">
        <h1 class="title"><span class="title auto-typed"></span></h1>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
      <script>
        var typed = new Typed(".auto-typed", {
          strings: ["Rust", "ML", "Ken Li"],
          typeSpeed: 200,
          backSpeed: 200,
          backDelay: 735,
          loop: false,
          onComplete: function(self) { self.cursor.remove() }
        })
      </script>
      <h2 class="subtitle">
        With curiosity, perserverence, and ambition, we will go from zero to infinity.
      </h2>
    </div>
  </div>
</section>

<section class="web__body">
  <div class="container">
    <div class="column post">
      This website is built with <a class="normal__link" herf="https://github.com/tokio-rs/axum">Zola</a>, a static site generator written in the <a class="normal__link" herf="https://github.com/rust-lang/rust">Rust programming language</a>.
    </div>
    <hr>
    <div class="column post">
      <h2 class="subtitle">Skills</h2>
      <p class="post-excerpt">Languages: Rust, Java, TS, JS, Matlab, Python, Julia, C, C++, HTML</p>
      <p class="post-excerpt">Testing: jUnit, Mocha, Chai</p>
      <p class="post-excerpt">Frameworks: React, Express, Axum</p>
      <p class="post-excerpt">Environments: Intellij, VSCode, Docker, MS Azure, Github, Anaconda</p>
      <p class="post-excerpt">Systems: Windows, Linux (Ubuntu)</p>
    </div>
    <hr>
    <div class="column post">
      <h2 class="subtitle">Projects Highlights</h2>
      <p class="post-excerpt">Personal website (2022): Rust, HTML, Axum</p>
      <p class="post-excerpt">Quantum SVM (2022): Python</p>
      <p class="post-excerpt">Imagine UBC (2022): JS, TS, HTML, React, Express, JSon, Git Issues, Mocha, Chai</p>
      <p class="post-excerpt">University Simulation (2021): Java, JUnit, JSon</p>
    </div>
    <hr>
    <div class="column post">
      <h2 class="subtitle">Employment</h2>
      <p class="post-excerpt">Undergraduate Teaching Assistant, Department of Mathematics, University of British Columbia (2021-2022)</p>
    </div>
    <hr>
    <div class="column post">
      <h2 class="subtitle">Education</h2>
      <p class="post-excerpt">B.Sc., Major in Computer Science</p>
      <p class="post-excerpt">Third Year, University of British Columbia, Vancouver</p> 
    </div>
    <hr>
    <div class="column post">
      <h2 class="subtitle">Awards</h2>
      <p class="post-excerpt">Science Scholar/Dean's Honour List (2021)</p>
      <p class="post-excerpt">American Association of Physics Teachers Distinguished Student Award (2020)</p>
      <p class="post-excerpt">AP Scholar with Honor (2020)</p>
    </div>
    <hr>
    <div class="column post">
      <h2 class="subtitle">Interests</h2>
      <p class="post-excerpt">The Rust Programming Language</p>
      <p class="post-excerpt">The Julia Programming Language</p>
      <p class="post-excerpt">Quantum Mechanics and Quantum Machine Learning</p>
    </div>
  </div>
</section>
{% endblock content %}